@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;700&display=swap");
$primary-color: #ff1510;
$secondary-color: #fdecec;
$tertiary-color: #e7f6e7;
$primary-text: #404040;
$sec-text: #8c8c8c;
$ter-text: #b9b9b9;
$font-stack: "Work Sans", sans-serif;
$tablet-size: 940px;
$mobile-size: 320px;
