@use "../styles/variables";
@use "../styles/mixins";

.main {
  background-color: variables.$tertiary-color;
  .alt-header {
    @include mixins.center(row, space-between);
    @media screen and (max-width: variables.$m-size) {
      flex-direction: column;
      margin: 0 30px;
    }
    gap: 2rem;
    margin: 0 150px;
    padding: 2rem 0;
    .top-logo {
      width: 200px;
    }

    .searchbar {
      margin-bottom: 0;
      background-color: #fff;
      height: 2.5rem;

      input::placeholder {
        color: variables.$sec-text;
      }
    }
  }

  .body-container {
    margin: 0 200px;
    overflow: hidden;
    @media screen and (max-width: variables.$m-size) {
      margin: 0 30px;
    }

    .upper-container {
      position: relative;
      margin-bottom: 3rem;
      height: auto;

      @include mixins.center(row, space-between);
      gap: 2rem;

      @media screen and (max-width: variables.$m-size) {
        flex-direction: column;
        gap: 3rem;
      }
      .bg-name {
        position: absolute;
        top: 100px;

        font-size: 10rem;
        font-weight: 700;
        color: #ffffff7f;
        text-transform: uppercase;
        text-align: center;
      }

      .left-container {
        width: 300px;
        z-index: 5;
        position: relative;
        h1 {
          text-transform: uppercase;
        }

        h1,
        h4 {
          color: variables.$primary-text;
        }
        &-title {
          @include mixins.center(row, space-between);
          margin-bottom: 1.5rem;
          @media screen and (max-width: variables.$m-size) {
            flex-direction: column;
            gap: 1rem;
          }
        }

        button {
          border: none;
          outline: 0;
          background-color: transparent;
          scale: 1.5;
          cursor: pointer;
        }

        p {
          margin-bottom: 1.5rem;
        }
        .descriptio-item-container {
          @include mixins.center(row, space-between);
          .description-item {
            width: 50%;
            margin-bottom: 1.5rem;
            h4 {
              margin-bottom: 0.5rem;
            }

            .info-item {
              height: 2rem;
              @include mixins.center(row, start);
              span {
                margin-left: 1rem;
                color: variables.$sec-text;
              }
            }
          }
        }

        .rating {
          margin-bottom: 1rem;
          @include mixins.center(row, start);
          h4 {
            display: inline;
            margin-right: 0.5rem;
          }
        }

        .last-release {
          h4 {
            display: inline;
            margin-right: 0.5rem;
          }
          p {
            display: inline;
          }
        }
      }

      .pic-container {
        width: 50%;
        min-width: 300px;
        overflow: hidden;
        @media screen and (max-width: variables.$m-size) {
          width: 40%;
        }
        img {
          width: 100%;
          border-radius: 0.5rem;

          z-index: 5;
          position: relative;
        }
      }
    }
  }
  .bottom-container {
    background-color: variables.$tertiary-color;
    margin: 0 100px;

    .title-container {
      position: relative;
      z-index: 5;
      margin-bottom: 2rem;
    }

    .comic-cards-container {
      padding-bottom: 3rem;
      display: grid;
      grid-template-columns: repeat(5, 180px);
      gap: 1rem;
      justify-content: space-between;

      @media screen and (max-width: variables.$lm-size) {
        grid-template-columns: repeat(4, 180px);
      }
      @media screen and (max-width: variables.$m-size) {
        grid-template-columns: repeat(2, 180px);
      }
      @media screen and (max-width: variables.$sm-size) {
        grid-template-columns: 180px;
      }

      .comic-card {
        position: relative;
        z-index: 5;
        min-width: 150px;
        width: 100%;
        margin-bottom: 1rem;
        img {
          width: 100%;
          height: 80%;
          margin-bottom: 0.5rem;
        }
        p {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
