$primary-color: hsl(180, 29%, 50%);
$bg-color: hsl(180, 52%, 96%);
$card-bg-color: #fff;
$filter-tablets-color: hsl(180, 31%, 95%);
$secondary-color: hsl(180, 8%, 52%);
$tertiary-color: hsl(180, 14%, 20%);
$body-font-size: 15px;
$font-stack: 'League Spartan';
$bg-img-desktop: './images/bg-header-desktop.svg';
$bg-img-mobile: './images/bg-header-mobile.svg';
$mobile-size: 940px;